@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-roboto);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F4F3F1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CFCFCF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CFCFCF;
}